@import "../../global.scss";

.topbar{
    width: 100%;
    height: 60px;
    background-color: #F0F0F0;
    color: #1a75ff;
    position: fixed;
    top: 0;
    z-index: 3;
    transition: all 1s ease;

    .wrapper{
        padding: 7px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left{

            display: flex;
            align-items: center;


            .logo{
                font-family: 'Gemunu Libre';
                font-size: 40px;
                font-weight: 600px;
                text-decoration: none;
                color: inherit;
            }

           
        }

        .center{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            @include mobile{
                display: none;
            }

            ul{
                list-style: none;
                display: flex;

                li{
                    display: flex;
                    list-style: none;
                    padding-right: 20px;

                    a{
                        text-decoration: none;
                        font-family: 'Gemunu Libre';
                        font-weight: 400;
                        font-size: 24px;
                        color: inherit;
                        cursor: pointer;

                        &:hover{
                            font-weight: 600;
                        }
                    
                    
                    }
                    
                    
                }

                
            }   
            
        }

        .right{
            display: flex;
            align-items: center;

            .contact{
                display: flex;
                

                @include mobile{
                    display: none;
                }
                a{
                    background-color: #F0F0F0;
                    padding-left: 10px;
                img{
                    width: 35px;
                    
                    cursor: pointer;
                }
            }
            }

            .hamburger{
                width: 32px;
                height: 25px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;

                @media (min-width: 769px) {
                    display: none;
                }

                span{
                    width: 100%;
                    height: 3px;
                    background-color: #1a75ff;
                    transform-origin: left;
                    transition: all 1s ease;
                }
            }
        }
    }

    &.active{
        background-color: #1a75ff;
        color: white;

        .hamburger{
            span{
                &:first-child{
                    background-color: white;
                    transform: rotate(45deg);
                }
                &:nth-child(2){
                    opacity: 0;
                }
                &:last-child{
                    background-color: white;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}