@import "../../global.scss";

.contact{
    background-color: whitesmoke;
    display: flex;

    @include mobile{
        flex-direction: column;
    }

    .left{
        flex: 1;
        overflow: hidden;

        @include mobile{
            display: flex;
            justify-content: center;
        }

        
        img{
            min-height: 100%;
        }
    }

    .right{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2{
            font-size: 30px;
        }

        form{
            max-width: 70%;
            min-height: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            @include mobile{
                width: 60%;
                height: 60%;
            }

            input{
                width: 300px;
                min-height: 30px;
                font-size: 14px;

                @include mobile{
                    width: 200px;
                    height: 20px;
                }
            }
            textarea{
                width: 300px;
                height: 200px;
                font-size: 14px;

                @include mobile{
                    width: 200px;
                    height: 100px;
                }
            }

            button{
                width: 150px;
                height: 30px;
                color: whitesmoke;
                background-color: $mainColor;
                border: none;
                border-radius: 15px;
                font-weight: 500;
                cursor: pointer;

                &:focus{
                    outline: none;
                }
            }
        }
    }

  .containermob{
      margin-top: 25px;

    @media (min-width: 769px) {
        display: none;
    }

    .formobile{
        display: flex;
        align-items: center;
        justify-content: center;
        
        .contactIcon{
            color: $mainColor;
            margin-left: -85px;
            padding-right: 10px;
        }

        .mailIcon{
            color: $mainColor;
            padding-right: 10px;

        }
    }
   }
}